---
layout: default
title: Home
---

<div class="home">
  {% assign sorted_pages = site.pages | sort: 'date' | reverse %}

  <ul class="note-list">
    {% for page in sorted_pages %}
      {% if page.title and page.title != "Home" %}
        <li class="note-item">
          {% if page.date %}
            <div class="note-date">
              {{ page.date | date: "%Y · %m" }}
            </div>
          {% endif %}
          <h2 class="note-title">
            <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
